[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydub = "*"
python-dotenv = "*"
arxiv = "*"
pandas = "*"
google-generativeai = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
